<footer class="page-footer blue-grey  lighten-1">
    <div class="container">
        <div class="row">
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="blue-grey-text text-lighten-3" href="https://github.com/shin-shin">Irene Tokareva</a> and powered by <a class="blue-grey-text text-lighten-3" href="https://darksky.net/poweredby/">Dark Sky</a>.
        </div>
    </div>
</footer>


<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/javascripts/materialize.js"></script>
<script src="/javascripts/init.js"></script>
<script src="/javascripts/mush.js"></script>
</body>

</html>