<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <title><%= title %></title>
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">Mushroom Diaries</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">current</a></li>
                <li><a href="/cards/new">new</a></li>
                <li><a href="/">archive</a></li>
                <li><a href="/">varieties</a></li>
                <!-- <li><a href="/weather">weather</a></li>
                <li><a href="/calendar">calendar</a></li> -->
                <li>
                    <% if (user) { %>
                    <a href="/logout">Log Out</a>
                    <% } else { %>
                    <a href="/auth/google">Login with Google</a>
                    <% } %>
                </li>
            </ul>

            <ul id="nav-mobile" class="sidenav light-blue  lighten-1">
                <li><a href="/">current</a></li>
                <li><a href="/cards/new">new</a></li>
                <li><a href="/?archive">archive</a></li>
                <li><a href="/">varieties</a></li>
                <!-- <li><a href="/weather">weather</a></li>
                    <li><a href="/calendar">calendar</a></li> -->
                <li>
                    <% if (user) { %>
                    <a href="/logout">Log Out</a>
                    <% } else { %>
                    <a href="/auth/google">Login with Google</a>
                    <% } %>
                </li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>


        </div>
        <div class="nav-wrapper container">
            <h6 class="left light-blue-text text-lighten-2"><%= temp + String.fromCharCode(176) + "F"%></h6>
        <h6 class="right light-blue-text text-lighten-2"><%= parseInt(new Date().getMonth()) + 1 + "/" + new Date().getDate() + "/" + new Date().getFullYear() %></h6>
    </div>
    </nav>