<%- include('./partials/header') %>
<div class="section no-pad-bot" id="index-banner">
        <div class="container">
                <br><br>
        
                <div class="row center">
                    <p>mushroom variety</p>
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Select mushroom variety</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Mushroom variety</label>
        
                        <input placeholder="Mushroom variety" type="text" class="validate">
                        <label for="mycelium">Mushroom variety</label>
                    </div>
        
        
                    <div class="input-field col s12">
                        <select>
                            <option value="" disabled selected>Select latin</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                        <label>Mushroom latin</label>
        
                        <input placeholder="latin" type="text" class="validate">
                        <label for="mycelium">latin</label>
                    </div>
        
        
                    <div class="input-field col s12">
                            <select>
                                <option value="" disabled selected>Select type</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>Mycelium type</label>
            
                        </div>
        
                    <div class="input-field col s12">
                            <input placeholder="Add suffix" type="text" class="validate">
                            <label for="mycelium">Suffix</label>
                        </div>
        
                    <p>date</p>
                    <div class="input-field col s12">
            
                            <input placeholder="" type="date" class="validate">
                            <label for="mycelium">date</label>
                        </div>
        
                    <div class="input-field col s12">
                            <select>
                                <option value="" disabled selected>Select parent</option>
                                <option value="1">Option 1</option>
                                <option value="2">Option 2</option>
                                <option value="3">Option 3</option>
                            </select>
                            <label>parent</label>
            
                            <input placeholder="Mushroom" type="text" class="validate">
                            <label for="mycelium">parent</label>
                        </div>
        
        
                    <a class="waves-effect waves-light btn-large" href="/new">save</a>
        
        
        
        
                </div>
                <br><br>
        
            </div>
              </div>
<%- include('./partials/footer') %>