<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />

    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= message %></title>
</head>

<body class="error">


    <div class="section no-pad-bot" id="index-banner">
        <div class="container">


            <div class="row">
                <div class="card">
                    <a href="/" class="waves-effect waves-light btn-large blue-grey lighten-2">GO BACK</a>
                    <div class="card-content">
                        <h1 class="header red-text text-darken-4"><%= message %></h1>
                        <h2><%= error.status %></h2>
                        <div class="">
                                <pre><%= error.stack %></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>