<%- include('./partials/header') %>
<div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="header center orange-text">mushroom variety</h1>
          <h3 class="header center orange-text"><em>latin</em></h3>
          
          <div class="row center">
        <p>type</p>

            <p>label</p>
              
            <p>date</p>

            <p>parent</p>

            <p>log</p>

            <p>note</p>

            <a class="waves-effect waves-light btn-large" href="/new">archive</a>
              
              
                  
                
          </div>
          <br><br>
    
        </div>
      </div>
<%- include('./partials/footer') %>