/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
/* body{
  min-height: 100vh;
} */
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("/images/bg1.png");
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

.hide {
  display: none;
}

.log > div {
  padding: 12px 24px 24px 24px;
}
.log > div:nth-child(even) {
  background-color: #F6F9FB ;
}


.bottom-form-buttons{
 display: flex;
 justify-content: space-between;
 border-right: 1px solid #ddd;
 border-left: 1px solid #ddd;
}
.bottom-form-buttons form {
 width: calc((100% - 4px)/2);
 display: inline-block;
}
.bottom-form-buttons form button{
  width: 100%;
  display: inline-block;
 }

 .card .collapsible.expandable{
   margin-bottom: 3px;
 }
 .card .collapsible.expandable li{
   margin-bottom: 3px;
 }

 .text form {
   display: inline-block;
 }